<ul dnd-list="$ctrl.rounds" class="round-list">
    <li class="round-item"
        ng-repeat="round in $ctrl.rounds"
        dnd-draggable="round"
        dnd-effect-allowed="move"
        dnd-moved="$ctrl.dragAndDropRound($index)">
        <div class="row">
            <div class="col-md-1 dnd-icon">
                <i class="fa fa-bars fa-2x icon-bar" aria-hidden="true"></i>
            </div>
            <div class="round-name col-md-4 form-group round-form" dnd-nodrag>
                <label class="control-label " for="{{'roundName'+$index}}">{{'ROUND_NAME_LABEL' | translate}}</label>
                <input class="form-control round-input" ng-model="round.name"
                       id="{{'roundName'+$index}}"
                       maxlength="34" minlength="3" pattern="^[^-\s][\wа-яА-ЯіІїЇєЄ\s-]+$"
                       required placeholder="{{'ROUND_NAME_PLACEHOLDER' | translate}}"
                       dnd-nodrag></div>
            <div class="col-md-4 round-input form-group round-form" dnd-nodrag>
                <label ng-show="round.showSelect"
                       class="control-label"
                       ng-click="round.showSelect = false"
                       for="{{'roundType'+$index}}">{{'ROUND_TYPE' | translate}}
                </label>
                <label ng-show="!round.showSelect"
                       class="control-label select-label"
                       ng-click="round.showSelect = true"
                       for="{{'roundType'+$index}}">{{'ROUND_TYPE' | translate}}: {{round.roundType.type | translate}}
                </label>
                <select ng-show="round.showSelect"
                        class="form-control" ng-model="round.roundType"
                        id="{{'roundType'+$index}}"
                        ng-options="item.type | translate for item in $ctrl.roundTypes track by item.type"
                        ng-change="round.showSelect = false"
                        ng-blur="round.showSelect = false">
                </select>
                <div ng-show="!round.showSelect">
                    <div style="padding: 0px;padding-right: 5px" class="col-md-6">
                        <div class="input-group"
                             tooltip-popup-delay="1000"
                             tooltip-append-to-body="true"
                             uib-tooltip="{{'START_VALUE_TOOLTIP'|translate}}">
                            <div class="input-group-addon">
                                <i class="fa fa-flag-o" aria-hidden="true"></i>
                            </div>
                          <input class="form-control"
                                 ng-model="round.roundType.start"
                                 type="number"
                                 min="0"
                                 max="5"
                                 step="0.1"
                                 ng-disabled="round.roundType.type === 'DEFAULT_ROUND'"
                                 required>
                        </div>
                    </div>
                    <div style="padding: 0px;padding-right: 5px" class="col-md-6">
                        <div class="input-group"
                             tooltip-popup-delay="1000"
                             tooltip-append-to-body="true"
                             uib-tooltip="{{'STEP_VALUE_TOOLTIP'|translate}}">
                            <div class="input-group-addon">
                                |<i class="fa fa-arrows-h" aria-hidden="true"></i>|
                            </div>
                          <input class="form-control"
                                 ng-model="round.roundType.step"
                                 type="number"
                                 min="0"
                                 max="1"
                                 step="0.1"
                                 ng-disabled="round.roundType.type === 'DEFAULT_ROUND'"
                                 required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 round-input form-group round-form" dnd-nodrag>
                <label class="control-label" for="{{'quizCount'+$index}}">{{'QUESTION_COUNT_LABEL' | translate}}</label>
                <input class="form-control"
                       id="{{'quizCount'+$index}}"
                       min="1" max="20" ng-model="round.numberOfQuestions"
                       placeholder="{{'QUIZ_COUNT_PLACEHOLDER'|translate}}" type="number" required>
            </div>
            <div class="col-md-1" dnd-nodrag>
                <span class="btn btn-danger btn-drop-round" ng-click="$ctrl.deleteRound($index)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </li>
</ul>
<button ng-click="$ctrl.addRound($event)" class=" btn btn-info btn-block add-round">
    {{'ADD_ROUND_BUTTON' | translate}}
</button>
