<div class="container">
  <div id="header">
    <h2><span class="round-name-label">{{'ROUND_SET_RESULTS_HEADER'|translate}} #{{$ctrl.round.$id}}: {{$ctrl.round.name}}</span>
      <span class="quiz-name-label">{{'QUESTION_SET_RESULTS_HEADER'|translate}} #{{$ctrl.selectedQuiz}}</span>
    </h2>
  </div>

  <div ng-switch="$ctrl.round.roundType.type">
    <default-round ng-switch-when="DEFAULT_ROUND" results="$ctrl.results"
                   save-result="$ctrl.saveResult(result)" is-manual-input="$ctrl.isManualInput"></default-round>
    <captain-round ng-switch-when="CAPTAIN_ROUND" results="$ctrl.results"
                   save-result="$ctrl.saveResult(result)"
                   is-captains-out="$ctrl.isCaptainsOut"></captain-round>
    <auction-round ng-switch-when="AUCTION_ROUND" disable-next="$ctrl.disableNext" results="$ctrl.results"
                   save-result="$ctrl.saveResult(result)"></auction-round>
    <hints-round ng-switch-when="HINTS_ROUND" results="$ctrl.results"
                 save-result="$ctrl.saveResult(result)"></hints-round>
  </div>

  <div id="control-panel" class="form-inline">
    <div class="nav-btn">
      <button
        ng-repeat="quizNumber in $ctrl.range($ctrl.round.numberOfQuestions)"
        class="btn"
        ng-class="{'btn-selected':$ctrl.selectedQuiz == quizNumber,
                    'btn-success': $ctrl.currentQuiz > quizNumber || $ctrl.round.$id < $ctrl.currentRound,
                    'btn-warning':quizNumber == $ctrl.currentQuiz && $ctrl.round.$id == $ctrl.currentRound}"
        ng-click="$ctrl.setQuiz(quizNumber)">
        {{quizNumber}}
      </button>
      <span class="counter">{{'ANSWERS_COUNT_LABEL' | translate}}<strong>{{$ctrl.answerCount}}</strong></span>
    </div>
    <button class="btn btn-success submit-button"
            ng-disabled="$ctrl.disableNext  && $ctrl.round.roundType.type === 'AUCTION_ROUND'"
            ng-click="$ctrl.nextQuiz()">{{'NEXT_BUTTON'|translate}}
    </button>
  </div>
</div>
